:root {
  --link-default: #000;
  --link-primary: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --link-default: #877AFD;
    --link-primary: #fff;
  }
}

$link: var(--link-default);
$link-primary: var(--link-primary);